:root {
  --color-gray: #F5F6F9;
  --color-white: #FFF;
  
  /* TEXT */
  --text-off: #7D7D91;
  --text-gray: #6C7278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
}

/* ======= TIPOGRAFIA */
.h1 {
  font-size: clamp(1.5rem, 1.5vw, 2.3rem);
}
.caption {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  color: var(--text-gray);
}

/* ======= RESPONSIVIDADE */
@media (min-width: 768px) {  // TABLET
  /* ======= CLASSES UTILITARIAS */
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) { // LAPTOP
  /* ======= CLASSES UTILITARIAS */
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) { // LAPTOP M
  /* ======= CLASSES UTILITARIAS */
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) { // LAPTOP L
  /* ======= CLASSES UTILITARIAS */
  .container {
    max-width: 720px;
  }
}

/* @media (min-width: 2650px) {} // 4K */