/* ======= POST */
.post-container {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  gap: 2rem;
}
.post-item {
  background: var(--color-gray);
  border-radius: .8rem;
  padding: 0 0 .5rem 0;
}
.post-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.post-header {
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.post-header__user {
  align-items: center;
  gap: .8rem;
  font-weight: bold;
}
.post-group-name {
  font-weight: 600;
  padding: .3rem .5rem;
  background-color: #ddd;
  border-radius: .5rem;
}
.post-user-picture {
  width: 3rem;
  height: 3rem;

  background-color: #ccc;
  border-radius: 100%;
}
.post-data {
  padding: 0 1rem 1rem 1rem;
}
.post-data__text {
  gap: .3rem;
}
.post-data__title {
  font-size: 1.2135rem;
  font-weight: bold;
  text-align: left;
}
.post-data__message {
  color: #777;
  font-weight: bold;
  text-align: justify;
}
.post-fake {
  background: var(--color-fake);
  padding: .3rem;
  align-items: center;
  color: var(--color-white);
  font-weight: bold;
  font-size: .83rem;
}
.post-action-icons {
  align-items: center;
  justify-content: space-between;
  padding: .3rem .5rem;
}
.post-actions-icons__icon {
  max-width: 1.7rem;
}
.post-actions-icons__left,
.post-actions-icons__right {
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.post-actions__date {
  color: var(--text-gray);
  font-weight: bold;
}
.post-comments {
  padding: .5rem;
  gap: .5rem;
  max-height: 280px;
  overflow-y: auto;
}
.post-input-area {
  position: relative;
}
.post-input__field {
  padding-right: 2.3rem;
}
.post-input__img {
  position: absolute;
  max-width: 30px;

  top: 50%;
  right: .3rem;
  transform: translateY(-50%);
}
.post-comment {
  background: #eee;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  gap: .8rem;
  align-items: flex-start;
}
.post-comment__picture {
  width: 2.3rem;
  height: 2.3rem;
  padding: .15rem;

  border-radius: 100%;
  background-color: #ccc;
}
.post-comment__text {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.post-comment__text-title {
  font-size: .93rem;
  font-weight: bold;
}
.post-comment__text-comment {
  color: #444;
  font-size: .9rem;
}

/* ======= NOTIFICATION */
.notifications-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: blue;
}
.notification-container {
  max-width: 400px;
  padding: .5rem;
  background: var(--color-gray);
  border-radius: .3rem;
}
.notification-link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.notification-bell {
  width: 1.5rem;
  height: 1.5rem;
}
.notification-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.notification-data__title {
  font-size: .98rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 0.3rem;
}
.notification-data__message {
  font-size: .9rem;
  font-weight: bold;
  color: var(--text-gray);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-date {
  font-size: .78rem;
  color: var(--text-off);
  align-self: flex-start;
}

/* ======= POST MODAL */
.modal {
  background: var(--color-gray);
  margin-bottom: 1rem;
  border-radius: .8rem;
  padding: .3rem .5rem;
  width: 100%;
  max-width: 580px;
}
.modal-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

/* ======= USERS TABLE */
.table__wrapper {
  width: 100%;
  overflow: auto;
  max-height: 300px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  position: sticky;
  top: 0;
  background-color: var(--color-base-blue);
  color: var(--color-white);
  z-index: 1;
}
.table th,
.table td {
  border: 1px solid #ccc;
  padding: 0.75rem;
  text-align: left;
}
.table thead {
  background-color: #f0f0f0;
}
.table tr {
  background-color: #fff;
}
.table tr:hover {
  background-color: var(--color-base-blue);
  color: var(--color-white);
}
.table__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .5rem;
}
.table__action-icon {
  width: 1.8rem;
  cursor: pointer;
}

/* ======= REPORTS TABLE */
.reports-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: flex-start;
}
.reports-left {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
}
.reports-right {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 1rem;
  max-height: 500px;
  overflow-y: auto;
}
.preview-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}
.preview-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.preview-message {
  max-height: 150px;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: #f9f9f9;
  border-radius: 4px;
}

/* ======= NAVBAR */
.mobile-navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  min-height: 5rem;
  background-color: var(--color-white);
}
.nav-icon {
  width: 2.2rem;
  cursor-pointer;
}
.user-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: .2rem;
  background: var(--color-base-blue);
  border-radius: 100%;
}

/* ======= SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 70%;
  background: var(--color-white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
  padding: 1.2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.3rem;
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  font-size: .98rem;
  font-weight: bold;
}
.sidebar-header__user-profile {
  width: 4rem;
  padding: .009rem;
  background: var(--color-base-blue);
  border-radius: 100%;
}
.sidebar-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.sidebar-link {
  display: flex;
  align-items: center;
  gap: .65rem;
  text-decoration: none;
  color: #000;
}
.sidebar-icon {
  width: 1.8rem;
}
.sidebar-community summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-left: 2.3rem;
  margin-bottom: .8rem;
  border: none;
}
.sidebar-community summary::before {
  content: "";
  background-image: url('/static/assets/icons/sidebar-community.svg');
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.8rem;
  height: 1.8rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-communities {
  padding-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-height: 250px;
  overflow-y: auto;
  font-size: .95rem;
}
.sidebar-community__group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color-gray);
  text-decoration: none;
  gap: .8rem;
  padding: .3rem .5rem;
  border-radius: .4rem;
  color: #000;
}
.sidebar-community__group:hover {
  opacity: .8;
}

.sidebar-community__group-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}