/* ======= POST */
.post-container {
  display: flex;
  flex-direction: column;
  max-width: 580px;
  gap: 2rem;
}
.post-item {
  background: var(--color-gray);
  border-radius: .8rem;
  padding: 0 0 .5rem 0;
}
.post-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.post-header {
  gap: .5rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.post-header__user {
  align-items: center;
  gap: .8rem;
  font-weight: bold;
}
.post-group-name {
  font-weight: 600;
  padding: .3rem .5rem;
  background-color: #ddd;
  border-radius: .5rem;
}
.post-user-picture {
  width: 3rem;
  height: 3rem;

  background-color: #ccc;
  border-radius: 100%;
}
.post-data {
  padding: 0 1rem 1rem 1rem;
}
.post-data__text {
  gap: .3rem;
}
.post-data__title {
  font-size: 1.2135rem;
  font-weight: bold;
  text-align: left;
}
.post-data__message {
  color: #777;
  font-weight: bold;
  text-align: justify;
}
.post-fake {
  background: var(--color-fake);
  padding: .3rem;
  align-items: center;
  color: var(--color-white);
  font-weight: bold;
  font-size: .83rem;
}
.post-action-icons {
  align-items: center;
  justify-content: space-between;
  padding: .3rem .5rem;
}
.post-actions-icons__icon {
  max-width: 1.7rem;
}
.post-actions-icons__left,
.post-actions-icons__right {
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.post-actions__date {
  color: var(--text-gray);
  font-weight: bold;
}
.post-comments {
  padding: .5rem;
  gap: .5rem;
  max-height: 280px;
  overflow-y: auto;
}
.post-input-area {
  position: relative;
}
.post-input__field {
  padding-right: 2.3rem;
}
.post-input__img {
  position: absolute;
  max-width: 30px;

  top: 50%;
  right: .3rem;
  transform: translateY(-50%);
}
.post-comment {
  background: #eee;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  gap: .8rem;
  align-items: flex-start;
}
.post-comment__picture {
  width: 2.3rem;
  height: 2.3rem;
  padding: .15rem;

  border-radius: 100%;
  background-color: #ccc;
}
.post-comment__text {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.post-comment__text-title {
  font-size: .93rem;
  font-weight: bold;
}
.post-comment__text-comment {
  color: #444;
  font-size: .9rem;
}

/* ======= NOTIFICATION */
.notifications-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: blue;
}
.notification-container {
  max-width: 400px;
  padding: .5rem;
  background: var(--color-gray);
  border-radius: .3rem;
}
.notification-link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.notification-bell {
  width: 1.5rem;
  height: 1.5rem;
}
.notification-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.notification-data__title {
  font-size: .98rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 0.3rem;
}
.notification-data__message {
  font-size: .9rem;
  font-weight: bold;
  color: var(--text-gray);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notification-date {
  font-size: .78rem;
  color: var(--text-off);
  align-self: flex-start;
}

/* ======= POST MODAL */
.modal {
  background: var(--color-gray);
  margin-bottom: 1rem;
  border-radius: .8rem;
  padding: .3rem .5rem;
  width: 100%;
  max-width: 580px;
}
.modal-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}