:root {
  --color-gray: #f3f3f3;
  --color-bbb: #bebebe;
  --color-white: #FFF;
  --color-fake: #F12B2B;
  --color-base-blue: #1C274C;
  
  /* TEXT */
  --text-off: #7D7D91;
  --text-gray: #6C7278;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100vw;
  height: 100vh;
}

.header{
  height: 18%;
  display: flex;
  flex-direction: column;
  padding: 17px;
  padding-bottom: 10px;
}

.navbar{
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* ======= Tags basicas */
input {
  width: 100%;
  padding: .68rem;
  color: #000;
  outline: none;
  border: 2px solid var(--color-gray);
  border-radius: .5rem;
}

button {
  background-color: #1D61E7;
  color: var(--color-white);
  padding: .8rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
