/* ======= Login & Registro */
.lr-main {
  gap: 2rem;
}
.lr-header {
  gap: 1.3rem;
  padding: 1.03rem;
}
.lr-header__text {
  gap: .4rem;
  max-width: 18rem;
}
.lr-form {
  width: 100%;
  max-width: 20rem;
  gap: 1.2rem;
}
.lr-form__selectors {
  padding: .23rem;
  gap: .3rem;

  background-color: var(--color-gray);
}
.lr-form__selector {
  padding: .5rem;
}
.lr-form__selector a {
  text-decoration: none;
  color: var(--text-off);
}
.lr-form__selected {
  background-color: var(--color-white);
}
.lr-form__selected a {
  color: #000;
}
.lr-form__label {
  position: relative;
  color: var(--text-gray);
  font-size: .85rem;
}
.lr-form__password {
  padding-right: 2rem;
}
.lr-form__password-eye {
  position: absolute;
  top: 50%;
  right: .5rem;
}
.lr-form__password-eye img {
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
}
.lr-form__name {
  gap: 1rem;
}

/* ======= GROUPS */
.group-header {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding-top: 6rem;
}
.group-header__banner {
  flex: 1;
  min-height: 75px;
  background: var(--color-gray);
  margin-bottom: 2rem;
}
.group-header__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
  margin-bottom: 1rem;
}
.group-header__details-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.group-header__details-button {
  padding: .6rem;
}
.group-header__details-image {
  width: 2rem;
  height: 2rem;
}
.group-header__group-img {
  position: absolute;
  width: 5rem;
  height: 5rem;

  border-radius: 100%;
  top: 40%;
  left: 5%;
}
.group-header__group-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .2rem solid var(--color-white);
}
.group-post-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.private-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(0,0,0,.1);
  border-radius: 1rem;
  height: 55%;
}
.private-group__title {
  font-size: 2rem;
  font-weight: bold;
}

/* ======= HOME */
.container.home-container {
  padding-top: 7rem;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header-sidebar__icon {
  width: 2rem;
  display: none;
}
.home-header__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-header__search {
  position: relative;
  max-width: 580px;
  width: 100%;
}
.home-header__search input {
  max-width: 580px;
  padding-left: 2.2rem;
}
.home-header__search img {
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.home-posts-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.home-header__user {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  padding: .3rem;
  background: var(--color-gray);

  display: none;
}

/* ======= COMMUNITY */
.container.communities-container {
  padding-top: 7rem;
}
.communities-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.communities-main__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center; 
  gap: 1rem;
}

/* ======= NOTIFICATIONS */
.container.notifications-container {
  padding-top: 7rem;
}
.notifications-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.notifications-main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  gap: 1rem;
}

/* ======= ADMIN DASHBOARD CONTAINER */
.admin-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  overflow-y: auto;
}
.admin-dashboard-header {
  width: 100%;
}
.admin-dashboard-container {
  width: 100%;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.admin-dashboard-container hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-gray);
}
.admin-dashboard-container__header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: .8rem;
  justify-items: center;
}
.admin-dashboard-container__card {
  width: 98.5%;
  max-width: 300px;
  border-radius: .8rem;
  background: var(--color-gray);
  box-shadow: 1px 2px 2px rgba(0,0,0,.3);
}
.admin-dashboard-container__card-title {
  width: 100%;
  padding: .3rem;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  background: var(--color-base-blue);
  color: var(--color-white);
}
.admin-dashboard-container__card-description {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.admin-dashboard-container__body {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: .8rem;
  padding: .4rem;
  border-radius: .8rem;
}
.admin-dashboard-container__table-area {
  max-width: 100%;
  overflow: auto;
  padding: .3rem;
}
.admin-dashboard-container__table-area-header {
  background: var(--color-gray);
  padding: .5rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}