/* ======= Login & Registro */
.lr-main {
  gap: 2rem;
}
.lr-header {
  gap: 1.3rem;
  padding: 1.03rem;
}
.lr-header__text {
  gap: .4rem;
  max-width: 18rem;
}
.lr-form {
  width: 100%;
  max-width: 20rem;
  gap: 1.2rem;
}
.lr-form__selectors {
  padding: .23rem;
  gap: .3rem;

  background-color: var(--color-gray);
}
.lr-form__selector {
  padding: .5rem;
}
.lr-form__selector a {
  text-decoration: none;
  color: var(--text-off);
}
.lr-form__selected {
  background-color: var(--color-white);
}
.lr-form__selected a {
  color: #000;
}
.lr-form__label {
  position: relative;
  color: var(--text-gray);
  font-size: .85rem;
}
.lr-form__password {
  padding-right: 2rem;
}
.lr-form__password-eye {
  position: absolute;
  top: 50%;
  right: .5rem;
}
.lr-form__password-eye img {
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
}
.lr-form__name {
  gap: 1rem;
}

/* ======= GROUPS */
.group-header {
  display: flex;
  flex-direction: column;
  min-height: 150px;
}
.group-header__banner {
  flex: 1;
  min-height: 75px;
  background: var(--color-gray);
  margin-bottom: 2rem;
}
.group-header__details {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  justify-content: center;
  gap: 4rem;
}
.group-header__details-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.group-header__details-image {
  width: 2rem;
  height: 2rem;
}
.group-header__group-img {
  position: absolute;
  width: 5rem;
  height: 5rem;

  border-radius: 100%;
  top: 40%;
  left: 5%;
}
.group-header__group-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .2rem solid var(--color-white);
}
.group-post-container {
  display: flex;
  flex-direction: column;
}
.private-group {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(0,0,0,.5);
  border-radius: 1rem;
  height: 100%;
}
.private-group__title {
  font-size: 2rem;
  font-weight: bold;
}