/* ======= Login & Registro */
.lr-main {
  gap: 2rem;
}
.lr-header {
  padding-bottom: 1rem;
  gap: .6rem;
}
.lr-header__text {
  gap: .4rem;
  max-width: 18rem;
}
.lr-form {
  width: 100%;
  max-width: 20rem;
  gap: 1.2rem;
}
.lr-form__selectors {
  padding: .23rem;
  gap: .3rem;

  background-color: var(--color-gray);
}
.lr-form__selector {
  padding: .5rem;
}
.lr-form__selector a {
  text-decoration: none;
  color: var(--text-off);
}
.lr-form__selected {
  background-color: var(--color-white);
}
.lr-form__selected a {
  color: #000;
}
.lr-form__label {
  position: relative;
  color: var(--text-gray);
  font-size: .85rem;
}
.lr-form__password {
  padding-right: 2rem;
}
.lr-form__password-eye {
  position: absolute;
  top: 50%;
  right: .5rem;
}
.lr-form__password-eye img {
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
}
.lr-form__name {
  gap: 1rem;
}

/* ======= GROUPS */
.group-header {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding-top: 6rem;
}
.group-header__banner {
  flex: 1;
  min-height: 75px;
  background: var(--color-gray);
  margin-bottom: 2rem;
}
.group-header__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
  margin-bottom: 1rem;
}
.group-header__details-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.group-header__details-button {
  padding: .6rem;
}
.group-header__details-image {
  width: 2rem;
  height: 2rem;
}
.group-header__group-img {
  position: absolute;
  width: 5rem;
  height: 5rem;

  border-radius: 100%;
  top: 40%;
  left: 5%;
}
.group-header__group-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .2rem solid var(--color-white);
}
.group-post-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}
.private-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(0,0,0,.1);
  border-radius: 1rem;
  height: 55%;
}
.private-group__title {
  font-size: 2rem;
  font-weight: bold;
}

/* ======= HOME */
.container.home-container {
  padding-top: 7rem;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-header-sidebar__icon {
  width: 2rem;
  display: none;
  cursor: pointer;
}
.home-header__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-header__search {
  position: relative;
  max-width: 580px;
  width: 100%;
}
.home-header__search input {
  max-width: 580px;
  padding-left: 2.2rem;
}
.home-header__search img {
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.home-header__user {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  padding: .3rem;
  background: var(--color-gray);

  display: none;
}

/* ======= COMMUNITY */
.container.communities-container {
  padding-top: 7rem;
}
.communities-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.communities-main__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center; 
  gap: 1rem;
}

/* ======= NOTIFICATIONS */
.container.notifications-container {
  padding-top: 7rem;
}
.notifications-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.notifications-main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  gap: 1rem;
}

/* ======= PROFILE */
.container.profile-container {
  padding-top: 7rem;
}
.profile-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.profile-main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 580px;
  gap: 1rem;
}
.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;
}
.profile-icon {
  width: 7rem;
  padding: .01rem;
  background: var(--color-gray);
  border-radius: 100%;
}
.profile-content__inputarea {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.profile-input-label {
  font-weight: bold;
  font-size: .96rem;
  position: relative;
}
.profile-input {
  padding-right: 4.4rem;
}
.profile-input-button {
  position: absolute;
  top: 65%;
  right: .4rem;
  transform: translateY(-50%);
  font-size: .94rem;
  padding: .3rem .5rem;
  background-color: var(--color-base-blue);
  color: var(--color-white);
  border-radius: .4rem;
  cursor: pointer;
}

/* ======= ADMIN DASHBOARD CONTAINER */
.container.admin-container {
  padding-top: 7rem;
}
.admin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
  padding-top: 2rem;
}
.admin-main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  gap: 1.5rem;
}
.admin-main__container hr {
  width: 100%;
  border: 1px solid var(--color-gray);
}
.admin-section-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-base-blue);
  border-top-right-radius: .8rem;
  border-top-left-radius: .8rem;
  padding: .8rem;
}
.admin-section-header h4 {
  width: 90%;
  color: var(--color-white);
}
.admin-section-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 0 .4rem;
}
.users-table-filter {
  height: 10px;
}
.users-table-filter-button {
  padding: .4rem;
}