/* ======= Login & Registro */
.lr-main {
  gap: 2rem;
}
.lr-header {
  gap: 1.3rem;
  padding: 1.03rem;
}
.lr-header__text {
  gap: .4rem;
  max-width: 18rem;
}
.lr-form {
  width: 100%;
  max-width: 20rem;
  gap: 1.2rem;
}
.lr-form__selectors {
  padding: .23rem;
  gap: .3rem;

  background-color: var(--color-gray);
}
.lr-form__selector {
  padding: .5rem;
}
.lr-form__selector a {
  text-decoration: none;
  color: var(--text-off);
}
.lr-form__selected {
  background-color: var(--color-white);
}
.lr-form__selected a {
  color: #000;
}
.lr-form__label {
  position: relative;
  color: var(--text-gray);
  font-size: .85rem;
}
.lr-form__password {
  padding-right: 2rem;
}
.lr-form__password-eye {
  position: absolute;
  top: 50%;
  right: .5rem;
}
.lr-form__password-eye img {
  width: 1.05rem;
  height: 1.05rem;
  cursor: pointer;
}
.lr-form__name {
  gap: 1rem;
}

/* ======= GROUPS */
.group-header {
  display: flex;
  flex-direction: column;
  min-height: 150px;
}
.group-header__banner {
  flex: 1;
  min-height: 75px;
  background: var(--color-gray);
  margin-bottom: 2rem;
}
.group-header__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 580px;
  margin-bottom: 1rem;
}
.group-header__details-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.group-header__details-button {
  padding: .6rem;
}
.group-header__details-image {
  width: 2rem;
  height: 2rem;
}
.group-header__group-img {
  position: absolute;
  width: 5rem;
  height: 5rem;

  border-radius: 100%;
  top: 40%;
  left: 5%;
}
.group-header__group-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: .2rem solid var(--color-white);
}
.group-post-container {
  display: flex;
  flex-direction: column;
}
.private-group {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(0,0,0,.5);
  border-radius: 1rem;
  height: 100%;
}
.private-group__title {
  font-size: 2rem;
  font-weight: bold;
}

/* ======= Home/Feed */
.font{
  font-family: "Open", sans-serif;
}

#teste{
  border-style: dotted;
}
.search{
  width: 250px;
  margin-left: 10px;
}

.icon{
  position: absolute;
  height: 15px;
}

.icon-nav{
  height: 55px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 15px;
}

#big-icon{
  height: 40px;
  margin-left: 15px;
  margin-right: 30px;
  margin-bottom: 6px;
}

#perfil-icon{
  height: 37px;
  margin-left: 15px;
  border-radius: 100%;
  margin-bottom: 6px;
  border: 2px solid #1D61E7;
}

#lupa{
  left: 29%;
  top: 30px;
}

#verify{
  left: 55px;
  top: 82.5px;
}

#star{
  left: 159px;
  top: 82.5px;
}

#follow-home{
  padding-left: 18px;
}

#save{
  padding-left: 16px;
}

#fire{
  left: 245px;
  top: 82.5px;
}

#in-fire{
  padding-left: 15px;
}

#head{
  display: flex;
  flex-direction: row;
}

#button-pages{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

#home-posts{
  height: 71%;
}

/* ======= NOTIFICATIONS */
.notifications-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 2.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;

  background-color: var(--color-gray);
  padding: .8rem;
  border-radius: .5rem;
}
.notifications-header img {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;

  top: 50%;
  transform: translateY(-50%);
  left: 3%;
  cursor: pointer;
}
.notifications-main {
  height: 100%;
  overflow-y: auto;
  max-height: 90%;
}
.bell-idle {
  width: 3.5rem;
  height: 3.5rem;
}
.zeroNotifications__data {
  display: flex;
  gap: .4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
.zeroNotifications__title {
  font-size: 1.3rem;
  font-weight: bold;
}
.zeroNotifications__description {
  color: var(--text-off);
  font-size: 1rem;
  text-align: center;
}