@media (min-width: 610px) {
  /* ======= Paginas */
  /* === GROUP */
  .group-post-container {
    align-items: center;
  }

  /* === COMMUNITIES */
  .communities-main__container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ======= COMPONENTS */
  /* === DASHBOARD */
  .dashboard-data {
    grid-template-columns: repeat(3, 1fr);
  }
  .dashboard-data__item:first-child {
    border-bottom-left-radius: .8rem;
  }
  .dashboard-data__item:last-child {
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: 0;
  }

}

@media (min-width: 768px) {  // TABLET
  /* ======= Classes Utilitarias */
  .container {
    max-width: 720px;
  }

  /* ======= Paginas */
  /* === Login & Register */
  .lr-main__border {
    padding: 1.2rem;
    border-radius: .5rem;
    box-shadow: 0 0 .8rem rgba(0,0,0,.3);
  }

  /* === GROUP */
  .group-post-container {
    align-items: center;
  }

  /* === COMMUNITIES */
  .communities-main__container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* === NOTIFICATIONS */
  .notifications-main {
    display: flex;
    justify-content: center;
  }
  .zeroNotifications__title {
    font-size: 1.4rem;
  }
  .zeroNotifications__description {
    color: var(--text-off);
    font-size: 1.2rem;
    text-align: center;
  }

  /* === ADMIN */
  .admin-dashboard-container__header {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* ======= Componentes */
  /* === Sidebar */
  .sidebar-wrapper {
    width: 50%;
  }
  .sidebar-wrapper.open {
    max-width: 50%;
  }
}

@media (min-width: 1024px) { // LAPTOP
  /* ======= Classes Utilitarias */
  .container {
    max-width: 960px;
  }

  /* ======= Paginas */
  /* ======= LOGIN & REGISTER */
  .lr-form {
    gap: .5rem;
  }

  /* === Group */
  .group-header {
    min-height: 180px;
    margin-bottom: 3rem;
  }
  .group-header__details {
    max-width: 900px;
  }
  .group-header__group-img {
    width: 6rem;
    height: 6rem;
  }
  .group-header__details-title {
    font-size: 1.5rem;
  }
  .group-post-container {
    padding-bottom: 1.8rem;
  }
  .modal {
    max-width: 900px;
  }

  /* ======= Components */
  .post-container {
    max-width: 900px;
  }
  .mobile-navbar {
    display: none;
  }
  .home-header-sidebar__icon {
    display: block;
  }
  .home-header__user {
    display: block;
  }

  /* === Sidebar */
  .sidebar-wrapper {
    width: 45%;
  }
  .sidebar-wrapper.open {
    max-width: 45%;
  }
}

@media (min-width: 1280px) { // LAPTOP M
  /* ======= Classes Utilitarias */
  .container {
    max-width: 1140px;
  }

  /* ======= LOGIN & REGISTER */
  .lr-main__border {
    padding: 2rem;
  }
  .lr-header {
    padding: 1.2rem;
  }
  .lr-form {
    gap: .9rem;
  }
}

@media (min-width: 1440px) { // LAPTOP L
  /* ======= Classes Utilitarias */
  .container {
    max-width: 720px;
  }
}