.container {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  height: 100%;

  overflow-x: hidden;
}

/* ======= Flexbox */
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}

/* ======= Dimensoes */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.hidden {
  display: none;
}
.relative {
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}

/* ======= Decoracoes */
.radius-sm {
  border-radius: 0.4375rem;
}
.radius-md {
  border-radius: .9rem;
}
.radius-lg {
  border-radius: 1.2rem;
}

/* ======= Texto */
.text-center {
  text-align: center;
}